body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
width: 1440px;
margin: 0;
height: 100%;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}




.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #FFF;

}
.container  {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-logo-web {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-logo {

    font-family: 'Raleway', sans-serif;
    color:  #2E2F42;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.menu-nav {
    display: flex;
    gap: 40px;
}

.link-studio {
    padding: 24px 0;
}

.studio-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #2E2F42;
    }
    
    .studio-nav a:focus , 
    .studio-nav a:hover {
        color: #404bbf;  
        
    }
.address {
    display: flex;
    gap: 40px;
}





.contacts-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #2E2F42;
}

.contacts-nav a:focus , 
.contacts-nav a:hover {
    color: #404bbf;  
  }


.tel-email {
    font-style: normal;
}
.email a {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;

}

.telephone a {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}
.tel-email a:focus, 
.tel-email a:hover {
    color: #404bbf;  
}

.solution {
    background:  #2E2F42;
    padding: 188px 0;
    
}

.title-name {
    max-width: 496px;
    color: #ffffff;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin-left: 472px;
}

.btn-order {
    text-align: center;
    display: block;
    margin-left: 636px;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    border: none;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
font-weight: 500;
cursor: pointer;
border-radius: 4px;
}

.btn-order:focus ,
 .btn-order:hover {
    background-color: #404BBF;
}

.advantages {
    padding: 120px 0;
}
.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-text {
    width: calc((100% - 72px) / 4);
    width: 264px;
}

.name-adv {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-adv {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.name-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-list-profil {
    background-color: #FFFFFF;
    text-align: center;
}

.portfolio-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;

    color:  #2E2F42;
}
.portfolio-nav a:focus , 
.portfolio-nav a:hover {
    color: #404bbf;  
  }

.name-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.footer {
    background-color: #2e2f42;
}
.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo  {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  